/* 当前激活栏 */
.nav ul li:nth-child(3) {
    border-bottom: 4px solid #53bdfd;
    cursor: pointer;
}

ul li:nth-child(3) a {
    color: #53bdfd;
}


.left_cotent {
    width: 1200px;
    margin: 50px auto;
    display: flex;
}

.left_sidebar {
    width: 22%;
    padding: 20px 50px;
    box-sizing: border-box;
}

.artical_box {
    width: 100%;
}

.top {
    text-align: center;
    background-color: #01a1ff;
    color: white;
    height: 105px;
}

.bottom {
    text-align: center;
    border: 1px solid #01a1ff;
    /* line-height: 43px; */
    margin-bottom: 50px;

}

.bottom li {
    padding: 6px 10px;
    border-radius: 15px;
    margin: 10px 10px;
}

.bottom li:first-child {
    background-color: #01a1ff;
    color: white;
}

.bottom li:hover {
    cursor: pointer;
    background-color: #01a1ff;
    color: white;
}

.top h2 {
    padding-top: 29px;
}

.search input {
    margin: 14px;
    height: 43px;
    width: 135px;
}

.search svg {
    position: relative;
    left: 49px;
    bottom: 52px;
    width: 34px;
    height: 34px;
}

.search svg:hover {
    background-color: #9b9b9b;
    cursor: pointer;
}

.de_line {
    width: 16px;
    height: 4px;
    background-color: white;
    margin: 4px auto;
}

.search .bottom {
    height: 72px;
}
.artical_nav {
    text-indent: 5px;
    display: flex;
    height: 24px;
    line-height: 24px;
}

.artical_nav h2 {
    margin-left: 5px;
    border-left: 3px solid #01a1ff;
}

.artical_nav p {
    margin-top: 4px;
    width: 69%;
}

.artical_nav span {
    float: right;
    margin-top: 4px;
}

.artical_nav span:last-child {
    color: #01a1ff;
}

.item {
    display: flex;
    margin: 20px 40px;
    width: 100%;
}

.date {
    background-color: #e5e5e5;
    color: #9b9b9b;
    width: 100px;
    height: 100px;
    text-align: center;

}

.date h1 {
    font-size: 42px;
    /* text-decoration: underline white; */
    margin: 7px 20px;
    border-bottom: 1px solid #9b9b9b;
}

.detail {
    width: 765px;
    margin: 10px;
    letter-spacing: 1px;
}

.detail h3 {
    margin-bottom: 18px;
}

.detail p {
    text-indent: 2em;
    line-height: 1.8em;
}

#active .date {
    background-color: #01a1ff;
    color: white;
}

#active h3 {
    color: #01a1ff;
}
#active h1 {
    border-bottom: 1px solid white;
}
.explain {
    display: block;
    text-align: center;
}

/* 页码 */

.pages ul {
    display: flex;
    width: 400px;
    margin: 0 auto;
}

.pages li {
    background-color: #e5e5e5;
    margin: 0 3px;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 32px;
}

.pages li:hover {
    background-color: #01a1ff;
    color: white;
    cursor: pointer;
}

.pages li:first-child {
    width: 80px;
}

.pages li:nth-child(2) {
    background-color: #01a1ff;
    color: white;
}

.pages li:last-child {
    width: 80px;
}
  /* page2 */
.page2 h1{
    text-align: center;
    margin:40px auto;
}

.page2>small {
    border-bottom: 1px dashed black;
    width: 100%;
    display: block;
    padding-bottom: 12px;
    margin: 21px 0;
}
.page2 small span:hover {
    cursor: pointer;
    color: gray;
}
.page2 p{
    text-indent: 2em;
    line-height: 1.7em;
    margin-bottom: 1em;
    font-size: larger;
}
.art_right_span {
    float: right;
    margin-right: 0!;
}
.art_right_span>span{
    margin-left: 10px;
    margin-right: 0!;
}

.getblue {
    color: #01a1ff;
}

.left_span>span {
    margin-right: 20px;
}
.img {
    margin-bottom: 20px;
}